
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    background-image: url("img files/table.png");
    background-size: cover;
}

h1 {
    color: goldenrod;
}
p{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
button{
    font-size:  35px;
    color: #016f32;
    font-weight: bold;
    background-color: goldenrod;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 3px;

}

#message {
font-style: italic;
}
